/* Sources: https://einvitations.afit.edu/generator/index.cfm
   
Note: AFIT E-Invite defunct as of August 2025 */

.body {
	margin: 15px 0 0 0 !important;
	font-size: 18 pt;
	font-family: Arial
	background: white;
}

.outborder {
	width: 750px;
	background-color: white;
	height: auto !important;
	height: 500px;
	min-height: 500px;
	border:10px solid #002596;	  
	# background:url(https://media.defense.gov/2017/Jun/09/2001760349/-1/-1/0/170609-F-XX123-048.PNG) no-repeat;
	background-size:100%;
	position: relative;
}

.paper {
	width: 750px;
	background: white;
}

.topper {
	width: 720px;
	margin: 10px 0 0 0;
	height: auto !important;
	height: 210px;
	min-height: 210px;
}

.content {
	width: 720px;
	margin: 10px 0 0 0;
	height: auto !important;
	height: 300px;
	min-height: 300px;
}

.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
}

.bottomspacer {
	width: 720px;
	height: 30px;
}

table.rsvptable {
	color:black;
	font-size:9pt;
	background-color:;
	width: 750px;
}

/* start text styles */
.style1 {
	color: #002596;
	font-size: 18pt;
	font-family: Arial;
}
		
.style2 {
	color: #002596;
	font-size: 18pt;
	font-style:/* italic */;
}

.style3 {
	color: #002596;
	font-size: 18pt;
	font-weight: bold;
	font-family:Arial;
}

.style3nobold {
	color: #002596;
	font-size: 18pt;
	/*font-style: italic; */
	font-weight: normal;
	font-family: Arial;
}

.split {
	width: 100%;
	margin: 10px 0 0 0;
	height: auto !important;
	height: 100px;
	min-height: 100px;/*background:lime;*/
}

.split_left {
        float: left;
        clear: left;
        width: 50%;
        height: auto !important;
        /*background:red;*/
        height: 75px;
        min-height: 75px;
	text-align: left;
        color: #002596;
        font-size: 18pt;
       /*font-weight: bold; */
        font-family: Arial;
}
		
 .split_right {
                        float: right;
                        clear: right;
                        width: 370px;
                        height: auto !important;
                        /*background:brown;*/
                        height: 75px;
                        min-height: 75px;
                        text-align: left;
                        color: #002596;
                        font-size: 18pt;
                        
                        /*font-weight: bold; */
                        font-family: Arial;
}

.split_right_box {
                        text-align: left;
                        width: 90%;
                        background:;
                        float: right;
                        clear: left;
                        height: 75px;
                        min-height: 75px;
}
                
.split_right_box {
                        text-align: left;
                        /*background:yellow;*/
                        float: right;
}
                
.rline {
                        width: 720px;
                        margin: 10px 0 0 0;
                        height: auto !important;
                        height: 50px;
                        min-height: 50px;
                        color: #002596;
                        font-size: 18pt;
                        font-weight: bold;
                        font-family:Arial;
}
                
.buttonline {
                        width: 720px;
                        margin: 10px 0 0 0;
                        height: auto !important;
                        height: 35px;
                        min-height: 35px;
                        text-align: center;
}
                
.docline {
                        width: 720px;
                        margin: 10px 0 10px 0;
                        height: auto !important;
                        /*background:aqua;*/
                        height: 50px;
                        min-height: 50px;
}
                
.bottomspacer {
                        width: 720px;
                        height: 30px;
}
                
.buttontext{
                        font-family:verdana;
                        font-size:11pt;
}

.exampleborderradius {
                        width:auto;
                        display:table;
                        
                        background-color: #002596;
                        text-align: center;
                        border-radius: 25px;
                        -moz-border-radius: 25px;
                        height:35px;
                        font-family:verdana;
                        font-size:11pt;
                        font-weight:bold;
                        color:white;
}
                
.exampleborderradius:hover{
                        background:gray;
}
                
.rsvpbuttonpad{
                        padding:8px 20px 8px 20px;
}
                
.rsvpbuttonlink{
                        text-decoration:none;
}
